body {
	background-image: url("http://i.imgur.com/dPNvFpP.jpg");
}

.top {
	margin-top: 8%;
	text-align: center;
}

.characterImage {
	height: 200px;
}

.left {
	background-color: red;
	float: left;
	margin-left: 30%;
}

.right {
	margin-right: 30%;
	float: right;
}